<div class="container text-center">
        <table class="table">                
                <tbody>
                  <tr>                    
                    <td>原创不易，微信扫一扫给他晚餐加个鸡蛋</td>
                  </tr>
                  <tr>                    
                    <td>                         
                        <img src="/image/wzs.png" class="rounded img-fluid img-thumbnail" alt="donate">                        
                    </td>
                  </tr>
                  <tr>                                        
                    <td>
                        <a href="/donate_other.html">其他资助途径</a>
                    </td>                    
                  </tr>
                </tbody>
              </table>
</div>